.pagination{
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.pagination > button{
    padding: 7px;
    border: none;
    outline: none;
    border: 1px solid silver;
    border-radius: 2px;
    color: #fff;
    color: rgb(57, 57, 57);
    cursor: pointer;
}

.active{
    background-color: rgb(30, 30, 30);
    color: #fff !important;
}